@import '_settings'

normalize-css()
base()

body
  padding: 0px
  font-size: font-size

.bs-docs-header
	background-color: blue
	color: white
	padding: 25px 10px

.footer
  background: #333
  padding: 50px 0
  margin-top: 50px
  color: #fff

.navbar
	margin-bottom: 0px !important