@import '_settings'

normalize-css()
base()

body
  font-family: font-stack !important
  padding: 0px
  font-size: font-size

.bs-docs-header
	background-color: blue
	color: white
	padding: 25px 10px

.footer
  background: #333
  padding: 50px 0
  margin-top: 50px
  color: #fff

.navbar
	margin-bottom: 0px !important

.thumbnails h4 a
  color: blue !important

.btn
  background-color: blue !important

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait)
  body
    -webkit-transform rotate(90deg)
    width 100%
    height 100%
    overflow hidden
    position absolute
    top 0
    left 0
    background red !important


