@import '_settings'

normalize-css()
base()

body
  font-family: font-stack !important
  padding: 0px
  font-size: font-size

.bs-docs-header
	background-color: blue
	color: white
	padding: 25px 10px

.footer
  background: #333
  padding: 50px 0
  margin-top: 50px
  color: #fff

.navbar
	margin-bottom: 0px !important

.thumbnails h4 a
  color: blue !important

.btn
  background-color: blue !important

@media screen and (orientation:portrait)
  body
    background red !important

@media screen and (orientation:landscape)
  body
    background blue !important