nav.navbar.navbar-default
 div.container
  div.navbar-header
   button.navbar-toggle.collapse
    span.sr-only Toggle Navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
   a(href= "/").navbar-brand WebriQ
  div.collapse.navbar-collapse#bs-example-navbar-collapse-1
   ul.nav.navbar-nav
     li.active: a(href= "/") Home
     li: a(href= "/") Blog

div.bs-docs-header#content
 div.container
  h1 Components
  p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.
